*{
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-style: normal;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 8px;
}

.right-links {
    margin-left: auto;
    align-self: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    border: 2px red solid;
    display: flex;
    flex: 1 0 auto;
    background-color: #1F2937;
    color: white;
    padding: 8px;
}